<h2>My Heroes</h2>
<ul class="heroes" data-bind="foreach: {data: heroes, as: 'hero'}">
    <li data-bind="css: {'selected': $component.selectedHero() === hero}, click: $component.onSelect">
        <span class="badge" data-bind="text: hero.id()"></span>
        <span data-bind="text: hero.name()"></span>
    </li>
</ul>

<div data-bind="if: selectedHero">

    <h2>
        <span data-bind="text: selectedHero().name().toUpperCase()"></span> Details</h2>
    <div>
        <span>id: </span data-bind="text: selectedHero().id()">
        <span></span>
    </div>
    <div>
        <label>name:
            <input data-bind="value: selectedHero().name, valueUpdate: 'keyup'" placeholder="name">
        </label>
    </div>

</div>